@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.main {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 95%;
  margin: 0 auto;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  width: 95%;
}

.container {
  /* border: 2px solid blue; */
  margin: 0 auto;
  /* padding: 15px; */
  display: grid;
  width: 95%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: black;
  background: #FFFFFF;

  box-sizing: border-box;
}

.rating {
    /* border: 2px solid greenyellow; */
    background-image: url("../image/farm.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    opacity: 0.70;
    border-radius: 4px;
}

.textRating {
  margin-top: 120px;
  background-color: white;
  padding: 5px;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.star {
  color: rgb(229, 255, 0);
  margin-left: 5px;
  font-size: 25px;
}



.item {
  /* border: 1px solid red; */
  box-sizing: border-box;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.iconItem {
  /* border: 1px solid rgb(47, 61, 255); */
  box-sizing: border-box;
  width: 30%;
  text-align: center;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tree {
  color: rgb(51, 167, 51);
}

.water {
  color: rgb(43, 114, 221);
}

.car {
  color: rgb(177, 102, 102);
}

.amount {
  font-size: 25px;
  font-weight: bold;
  /* border: 1px solid rgb(97, 196, 16); */
}

.descriptionItem {
  /* border: 1px solid blueviolet; */
  box-sizing: border-box;
  width: 70%;
  text-align: left;
  padding-left: 18px;

}









/* Media Query Mixins */
/* mediaXSm */
@media screen and (max-width: 500px) {
}
/* mediaSm */
@media screen and (max-width: 700px) {
}
/* mediaMd */
@media screen and (min-width: 701px)  and (max-width: 900px) {
}
/* mediaLg */
@media screen and (min-width: 901px) and (max-width: 1200px) {
}
/* mediaXl */
@media screen and (min-width: 1201px) {
}